{
  "presets": [ "es2015", "react" ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    "add-module-exports",
    "transform-react-jsx",
    [
      "import",
      [
        {
          "libraryName": "antd",
          "style": "css"
        }
      ]
    ]
  ]
}